Description = "Scan docker images and Git repositories using aquasec/trivy"
Timeout = 900
AssetTypes = ["DockerImage",
    "GitRepository"
]
RequiredVars = [
    "REGISTRY_DOMAIN", "REGISTRY_USERNAME", "REGISTRY_PASSWORD",
    "GITHUB_ENTERPRISE_ENDPOINT", "GITHUB_ENTERPRISE_TOKEN"
]
Options = """{
    "depth": 1,
    "branch":"",
    "git_checks": {
        "vuln": false,
        "secret": true,
        "config": false
    },
    "image_checks": {
        "vuln": true,
        "secret": true,
        "config": false
    },
    "disable_custom_secret_config": false,
	"scan_image_metadata": true,
}"""
