[Check]
# The Github user used by Vulcan needs to be administrator of the repository or its organization.
# Additionally, the Github token that Vulcan uses requires "repo:public_repo" permissions.
# In order to work with private repositories, the token requires full "repo" permissions.
Target = "https://github.com/adevinta/vulcan-checks"
