[Check]
Target = "https://example.com"
[RequiredVars]
BURP_API_ENDPOINT = "http://localhost:1337"
BURP_USERNAME = "user"
BURP_PASSWORD = "supersecret"
BURP_CRAWL_CONFIG = "Crawl limit - 10 minutes"
BURP_CHECK_CONFIG = "Audit coverage - maximum"
