[Check]
Target = "https://example.com"
[RequiredVars]
BURP_BASE_URL = "http://localhost:1337"
BURP_API_TOKEN = "supersecrettoken"
BURP_SCAN_CONFIG = "Crawl strategy - fastest;Audit checks - all except time-based detection methods;Audit checks - light active;Never stop audit due to application errors"
