[Log]
LogLevel = "info"
[Check]
Target = "http://localhost:3000/"

# This example will trigger the vulnerability:
# Target="https://www.google.com"
# Options = '{"resources":[{"paths": ["/"], "regex": ".*www.google.com.*"}]}'

# This example will not trigger the vulnerability:
# Target="https://www.google.com"
# Options = '{"resources":[{"paths": ["/"], "status": 400}]}'

# This example will trigger the vulnerability:
# Target="https://www.google.com"
# Options = '{"resources":[{"paths": ["/"]}]}'

# This example will trigger the vulnerability:
# Target="https://www.google.com"
# Options = '{"resources":[{"paths": ["/"], "status": 200}]}'
